// .v-sidebar-menu .vsm--item .vsm--icon {
//     background-color: white !important;
// }

// .v-sidebar-menu .vsm--item .vsm--link_active {
//     background-color: rgba(255, 236, 227, 1) !important;
// }

// .v-sidebar-menu .vsm--item .vsm--link_active .vsm--icon {
//     color: rgba(255, 110, 44, 1) !important;
//     background-color: rgba(255, 236, 227, 1) !important;
// }

// .v-sidebar-menu .vsm--item .vsm--link_active .vsm--title {
//     color: rgba(255, 110, 44, 1) !important;
// }

// .v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--link_level-1.vsm--link_open {
//     color: rgba(255, 110, 44, 1) !important;
//     background-color: white !important;
// }

// .v-sidebar-menu.vsm_white-theme .vsm--toggle-btn {
//     background-color: rgba(255, 236, 227, 1) !important;
// }
// .v-card.v-card--flat.v-theme--light.v-card--density-default.v-card--variant-elevated.pa-4.bg-grey
//     span {
//     font-size: 32px;
// }

.v-trz-toolbar-header.header-front{
    padding: 10px;
}

.v-trz-toolbar-header .header-icon{
    font-size: 30px;
}

.v-trz-toolbar-header-2, .v-trz-toolbar-header-2 .v-toolbar__content{
    height: 40px !important;
}
.toolbar-header .v-list-item{
    min-height: 15px !important;
}
.toolbar-header.v-list{
    border-top: 5px solid #E25311;
}
.v-trz-toolbar-header-2 .router-link-active.nav-item:hover{
    color: #E25311 !important;
}
.v-trz-toolbar-header-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it's above other elements */
    background-color: white; /* Add background color if needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow */
}